

.Login {
    display: flex;
    align-content: center;
    justify-content: center;
    float: right;
    margin: 12%;
    border: 1px solid  #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    
}

input {
    margin-bottom: 15px;
    display: block;
    height: 40px;
    width: 380px;
    border-radius: 5px;
    border: 0.1px solid #ccc;
}

label{
    font-size: 1rem;
    font-weight: 600;
    color: #24292e;

}
.Login button {
    font-size:1.5rem;
    padding: 25px;
    justify-content: center;
    background-color: #2ebc4f;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
.Login button:hover{
    background-color: #1e8f38;
}
#Message {
    display: block;
    background-color: red;
    color: white;
    font-size: 15px;
}

.BannerLogin {
    z-index: -1;
    width: 90%;
    position: absolute;
    display: block;
    margin-left: 5%;
    margin-top: 15%;
    overflow: hidden;

}
.BannerLogin h1 {
    color: white;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 500;
    font-size: 64px!important;
}

.BannerLogin p {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 20px;
    font-weight: 400;
    color: hsla(0,0%,100%,.6);
}
