.Painel-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
}

.Painel {
    display: block;
    text-align: center;
    align-content: center;
    justify-content: center;
    border: 1px solid  #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}
.Painel  input {
    margin-bottom: 15px;
    display: flex;
    height: 50px;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
    border: 0.1px solid #ccc;
    text-align: center;
    align-content: center;
    justify-content: center;

}
h1 {
    display: block;
}

label{
    font-size: 1rem;
    font-weight: 600;
    color: #24292e;
    display: block;

}

.row-button button {
    display: inline;
    justify-content: center;
    align-items: center;
    font-size:20px;
    margin: 10px;
    padding: 15px;
    justify-content: center;
    background-color: #2ebc4f;
    color: white;
    border: none;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
.cancel {
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: auto;
    padding: 10px;
    background-color: red !important;
}
.cancel:hover{
    opacity: 0.75;
}
.row-button button:hover{
    background-color: #1e8f38;
}

.buttons_table button {
    width: 100px;
    padding: 10px;
    height: auto;
    text-align: center;
    background-color: #b1b11b;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
}
.Cadastro p {
    background-color: red;
    color: rgb(36, 32, 32);
    padding: 10px;

}

.table {
    background-color: white;
}
.table td {
    font-size: 18px;
    text-align: left;
}
@media (max-width:800px){
    .Painel-grid{
        display: grid;
        grid-template-columns: 1fr ;
        justify-content: center;
        text-align: center;
    }
}